<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Accès refusé</title>
</head>

<body>
<div layout:fragment="content">
    <div class="text-center mt-5">
        <h1 class="display-4 text-danger">🚫 Accès refusé</h1>
        <p class="lead">Vous n’avez pas les autorisations nécessaires pour accéder à cette page.</p>
        <a href="/" class="btn btn-primary mt-3">↩ Retour à l’accueil</a>
    </div>
</div>
</body>
</html>
