<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">

<head>
    <title>Liste des Produits</title>
</head>

<body>
<div layout:fragment="content">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>📦 Liste des Produits</h2>
        <a sec:authorize="hasRole('ADMIN')" href="/admin/create" class="btn btn-success">➕ Nouveau produit</a>
    </div>

    <table class="table table-hover table-bordered table-striped align-middle">
        <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th sec:authorize="hasRole('ADMIN')">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, iter : ${productList}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price} + ' DH'"></td>
            <td th:text="${product.quantity}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <a sec:authorize="hasRole('ADMIN')" th:href="@{'/admin/edit/' + ${product.id}}" class="btn btn-sm btn-warning">Modifier</a>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{'/admin/delete/' + ${product.id}}" class="btn btn-sm btn-danger"
                   onclick="return confirm('Supprimer ce produit ?')">Supprimer</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
